<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domen's Math Workout</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">

        <div class="navbar">
            <img src="/static/img/domen.png" alt="Domen's Math Workout">
            <h1>Domen's Math Workout</h1>
        </div>

        <div class="main">

            <p>What is the result of the following expression:</p>

            <div class="expression">

                <h2>{{number1}} x {{number2}} =</h2>

                <form action="/", method="post">
                    <input type="hidden" name="number1" value="{{number1}}">
                    <input type="hidden" name="number2" value="{{number2}}">
                    <input type="hidden" name="streak" value="{{streak}}">

                    <input type="number" name="answer" placeholder="?" required>
                    <button type="submit">Submit</button>
                </form>

            </div>

            <p><span>{{streak}}</span> correct answer(s) in a row</p>

            {% if message %}
                <p style="color: black;">{{message}}</p>
            {% else %}
                <p style="color: white;">Message</p>
            {% endif %}

        </div>

        <div class="footer">
            <h3>Created by Domen Rajterič</h3>
        </div>

    </div>
</body>
</html>